---
import Layout from 'layout/Layout.astro';
import { config } from 'config';
---

<Layout>
  <div class="prose">
    <h1>Contacts</h1>
    <p>If you have any question please get in touch:</p>
    <ul>
      <li>Email: <a href={`mailto:${config.contacts.info}`}>{config.contacts.info}</a></li>
      <li>Discord: <a href={config.social.discord} target="_blank">invite</a></li>
    </ul>
  </div>
</Layout>
