---
import Layout from 'layout/Layout.astro';
---

<Layout>
  <div class="prose">
    <h1>Contributing</h1>
    <p>
      There are many ways you can help, you can contribute to the project by:
    </p>
    <ul>
      <li>We need a logo!</li>
      <li>We need media like images and resources</li>
      <li>
        We need proper UI/UX design (I am a software engineer but design is not
        my forte)
      </li>
      <li>We need content in the wiki (once it is implemented)</li>
    </ul>
  </div>
</Layout>
