@import 'https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

@layer components {
  .btn {
    @apply inline-flex items-center justify-center;
    @apply no-underline text-center text-base leading-snug;
    @apply transition ease-in duration-200;
    @apply rounded-md py-3.5 px-6 md:px-8 cursor-pointer;
  }

  .btn-primary {
    @apply btn bg-accent-600 text-white hover:bg-accent-500 dark:text-black dark:bg-accent-200 dark:hover:bg-accent-500;
  }

  .btn-secondary {
    @apply btn text-black dark:text-white hover:underline;
  }

  .btn-tertiary {
    @apply btn;
  }
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}
