---
import Container from 'components/Container.astro';
import Header from 'layout/Header.astro';
import Footer from 'layout/Footer.astro';
import GoogleAnalytics from 'components/GoogleAnalytics.astro';

import { config } from 'config';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <GoogleAnalytics id={config.googleAnalytics.id} partytown={true} />
  </head>
  <body>
    <Container class="flex flex-col h-full">
      <Header />
      <slot />
      <Footer />
    </Container>

    <script>
      import 'preline/dist/preline.js';
    </script>

    <style is:global>
      /* avoid sidebar flicker */
      html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
      }

      html,
      body {
        height: 100%;
      }
    </style>
  </body>
</html>
